<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>

<ul id="app01">
    <li v-for="(item, index) in items">
        {{parentMessage}} - {{index}} - {{item.message}}
    </li>
</ul>

<div id="app02">
    <template v-for="(item, index) in items">
        <p>{{item.message}}</p>
        <p>{{index}}</p>
    </template>
</div>

<div id="app03">
    <p v-for="(value, key, index) in obj">{{index}}.{{key}}: {{value}}</p>
</div>

<div id="app04">
    <span v-for="n in 10">{{n}}</span>
</div>

<div id="app05">
    <my-com v-for="(item, index) in items" v-bind:item="item" v-bind:index="index"></my-com>
</div>

<div id="todo-list-example">
    <input
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="Add a todo"
    >
    <ul>
        <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:title="todo"
                v-on:remove="todos.splice(index, 1)"
        ></li>
    </ul>
</div>

<ul id="app06">
    <li v-for="todo in todos" v-if="!todo.isComplete">
        {{ todo.value }}
    </li>
</ul>
<script src="practice05.js"></script>
</body>
</html>