<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>component</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>

<!--单向传递-->
<div id="app00">
    <input v-model="inputMsg"/>
    <child :my-message="changeMsg"></child>
</div>

<div id="app01">
    <com></com>
</div>

<div id="app02">
    <p>{{ total }}</p>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
</div>

<div id="app03">
    <currency-input v-model="price"></currency-input>
</div>
<script src="practice08.js"></script>
</body>
</html>